body {
  width : 430px;
  height: 500px;
  margin: 0;
  padding : 10px;
  background : #F5AB16;
  color : white;
}
.main-container {
  display : flex;
  flex-direction : column;
}
.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.i-o-container {
  display: flex;
  flex-direction: column;
}

.copy-btn, .border-red-btn {
  transition : 0.5s all ease;
  background : #3EC955;
  padding: 10px;
  border-radius : 10px;
  border: none;
  color : #ffffff;
  cursor:pointer;
  font-size: 15px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  font-weight: 600;
}

.size-btns {
  background: #2360C4;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
  font-weight: 600;
}

.container textarea {
  resize : none;
  border-radius: 10px;
  padding: 10px;
}
#input-p {
  font-size: 20px;
  font-weight: bold;
}
#output-p {
  font-weight: bold;
  font-size: 20px;
}
.btns-container {
  display : grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.sizes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
